<div class= "col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/mreynolds0142">Melissa Reynolds.</a>
  </p>
  <br />
  <p>
    She is learning to code and this is her first web application.
  </p>
  <p>
    If you want to learn to code too, start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p> 

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'melissa.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Melissa Reynolds</h2>
    <br />
    <p>
      Melissa Reynolds is a new web developer.  She is learning new skills through The Firehose Project.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

